body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #eeedf2;
  }

  .team__container h1, .boards__sidebar h2 {
    color: #6f7287;
    position: absolute;
    left: 5px;
    font-size: 20px;
  }

  /* .boards__sidebar {
    margin: 20px;
  } */

  .header-nav__container {
    color: #eeedf2;
    padding: 50px;
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .header-nav__group a {
    color: #f05537;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  #logo {
    width: 200px;
    left: 30px;
    position: absolute;
    top: 0px;
    color: #f05537;
    font-size: 50px;

  }


  .team__container {
    background-color: #f4f5f7;
    padding: 32px;
    padding-top: 60px;
  }

  .team__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 650px;
    padding: 10px;
    position: relative;
  }

  .team__info > h1 {
    margin: 0 0 12px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
  }

  .team__info a {
    color: #172b4d;
    line-height: 20px;
    font-weight: 400;
  }

  .tabbed-nav__container {
    background-color: #f4f5f7;
    padding-top: 25px;
  }

  .tabbed-nav__group {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dfe1e6;
  }

  .tabbed-nav__link {
    border: 2px solid darkgray;
    border-radius: 2px;
    box-shadow: #6f7287;;
    padding: 20px;
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    margin: 0 5px;
    color: #6f7287;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-weight: 700;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px gray;
  }

  .boards__container {
    display: flex;
    flex-flow: row wrap;
    padding: 32px;
    margin: 0 auto;
    max-width: 1400px;
  }



  .boards__group {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }

  .boards__board {
    height: 250px;
    max-width: 450px;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 4px 8px;
    position: relative;
    width: 100%;
    cursor: pointer;
    margin: 0 8px 16px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 90px;
    margin-right: 20px;
  }

  .boards__board p {
    color: #4C4E52;
    font-weight: lighter;
  }

  .boards__board a {
    padding-top: 30px;
    color: purple;
  }

  .zoom p {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color: #4C4E52;
  }

  .see-more {
    display: flex;
    justify-content: center;
  }

  .see-more p {
    width: fit-content;
    padding: 20px;
    margin-top: 60px;
    padding-left: 120px;
    padding-right: 120px;
    color: #6f7277;
    background-color: white;
    border: 2px solid #727985;
    box-shadow: 5px 5px 5px gray;

  }

  .boards__board img {
    max-height: 250px;
  }

  /* Responsive Styles */




  /*!!END */

  /* Supplied CSS follows. */


.header-nav__button {
    position: relative;
    top: 0px;
    margin-left: 350px;
}

  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    padding: 20px;
    background-color: rgb(42, 3, 42);
  }

  .footer p {
    padding-right: 40px;
    color: white;
  }

  .header-nav__button#search > input {
    padding: 15px;
    padding-right: 85px;
    border: #6f7287;
    box-shadow: 5px 5px 5px gray;
  }
